{% extends 'default.html' %}
{% load static %}

{% block content %}

<section id="about">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">About Me</h2>
                <p class="text-center wow fadeInDown">Christopher Comstock (born May 19, 1992), known professionally as Marshmello,<br>is an American electronic music producer and DJ.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <h3 class="column-title">Early Career</h3>
                    <div align="justify">
                        <b>Marshmello</b> posted his first original song <b>"Wavez"</b> to his SoundCloud page in the early months of 2015. As he released more songs, he began to receive support from musicians such as Skrillex, who reposted his song <b>"Find Me"</b> on SoundCloud. Shortly after, he made performances at New York's Pier 94, Pomona, California's HARD Day of the Dead festival, and Miami Music Week. He is managed by Moe Shalizi of Red Light Management. Having had an image of masking himself with a white bucket, Marshmello was frequently suggested to be <b>Chris Comstock</b>, an American DJ who was better known as Dotcom at the time, because their musical styles are similar.<br><br>

                        Marshmello performed at <b>Electric Daisy Carnival 2016</b> in Las Vegas on June 19. In a gimmick attempted by Marshmello and <b>Dutch DJ Tiësto</b>, the latter who wore the same clothes as the former on stage, took off his helmet presenting himself as Marshmello. It was later regarded as a publicity stunt by fans and the media due to their conflicting tour dates and a photo of "the two helmeted DJs hanging out together pre-show".
                    </div>
                </div>

                <div class="row">
                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">Philanthropy</h3>
                    <div align="justify">
                        Marshmello, together with Fortnite player Tyler <b>"Ninja"</b> Blevins, have won prize money of a million dollars from Epic's E3 Celebrity Pro Am charity tournament. Half of the million was donated to KIND (Kids in Need of Defense), an organization providing legal counsel to refugees and immigrant children. With the single Happier and its pet-dog-themed video, he supported the <b>#FindYourFido</b> campaign by American Society for the Prevention of Cruelty to Animals (ASPCA) in October 2018, also recognized as <b>"Adopt a Shelter Dog"</b> month.<br><br>
                    </div>
                </div>
                
                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">Awards</h3>
                    <p align="justify">Marshmello has been awarded Best Electronic at the 2018 MTV Europe Music Awards, his first major award win. Marshmello received nominations for works such as <b>"Alone", "Wolves", "Silence" and "Friends".</b> </p>

                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> MTV Europe Music Awards</li>
                                <li><i class="fa fa-check-square"></i> iHeartRadio Music Awards</li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> Remix Awards</li>
                                <li><i class="fa fa-check-square"></i> International Dance Music Awards</li>
                            </ul>
                        </div>
                    </div>
                
                    <br><br>
                
                <div class="col-sm-6 wow fadeInLeft">
                    <img style="border-radius:50%;" src="{% static 'images/photos/img2.jpg' %}" height="50" width="50">&nbsp;&nbsp;&nbsp;Posted by Marshmello
                </div>
                </div>
            </div>
        </div>
    </section><!--/#about-->

    <section id="work-process">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Want to connect with me?</h2>
                <p class="text-center wow fadeInDown">Do you want to stay updated regarding my newly released albums and singles,<br>to be the first one to tune into my song?<br>Follow me now for the latest updates on my upcoming albums & music.</p>
            </div>

            <div class="row text-center">
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="icon-circle">
                            <span>1</span>
                            <a href="https://www.facebook.com/marshmellomusic/?ref=nf&hc_ref=ARRaRkVdwdfQdNnnzdJVov6X4e4tLpUr3OWLZmEAznsPRjXWK1iRJX05NiFmAaekbZc&__xts__[0]=68.ARAS3_Dqj-ibojBrJ9y0BfMxo7RxhwypHXt-b_d5lVyf_5ElsG4ATsp8DXrzbNcsAvOQNHjovlX_Hv2tvo9qItn2Khl76jPqeN4vKumpMtjrjqImV9c2hTEoDUHMPY1tRpjbULd3HJCel4NlMuv3XUVz9zteC5swOZzB9Vi0fo_D08dQ6i3sjs-c_WxQX4grR4nJ3YWRbCVbjRpxddeaOrXXDuv2A_ImWunFg9sV04ALY7YIfe3ZITcxhH3NIPSC2-wWVv8mEq5JAAo6n6ROzkVNEDbgFsAdtKBYCexaqNzh7Yfp3t2TAGvRgJ6OarNcivsSmxitFhucsQzKWHp_9pCStc8PPNdWACg&__tn__=%3C-R" target="__blank" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
                        </div>
                        <h3>FACEBOOK</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="icon-circle">
                            <span>2</span>
                            <a href="https://twitter.com/marshmellomusic?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="__blank"><i class="fa fa-twitter fa-2x"></i></a>
                        </div>
                        <h3>TWITTER</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="icon-circle">
                            <span>3</span>
                            <a href="https://www.instagram.com/marshmellomusic/" target="__blank"><i class="fa fa-instagram fa-2x"></i></a>
                        </div>
                        <h3>INSTAGRAM</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="icon-circle">
                            <span>4</span>
                            <a href="https://www.youtube.com/channel/UCEdvpU2pFRCVqU6yIPyTpMQ" target="__blank"><i class="fa fa-youtube fa-2x"></i></a>
                        </div>
                        <h3>YOUTUBE</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                        <div class="icon-circle">
                            <span>5</span>
                            <a href="https://en.wikipedia.org/wiki/Marshmello" target="__blank"><i class="fa fa-link fa-2x"></i></a>
                        </div>
                        <h3>WIKIPEDIA</h3>
                    </div>
                </div>
                <div class="col-md-2 col-md-4 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
                        <div class="icon-circle">
                            <span>6</span>
                            <a href="https://open.spotify.com/artist/64KEffDW9EtZ1y2vBYgq8T" target="__blank"><i class="fa fa-flickr fa-2x"></i></a>
                        </div>
                        <h3>SPOTIFY</h3>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#work-process-->

{% endblock %}