{% extends 'default.html' %}
{% load static %}

{% block content %}

<section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Gallery</h2>
                <p class="text-center wow fadeInDown">On my World Tour I had fun visiting beautiful places in different countries, getting to know their culture & tradition,<br>meeting renowned people and performing live infront of the lovely audience.</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Images</a></li>
                    <li><a href="#" data-filter=".filter1">World Tours</a></li>
                    <li><a href="#" data-filter=".filter2">Sight Seeing</a></li>
                    <li><a href="#" data-filter=".filter3">Album Cover</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/img1.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/img1.jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter2">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/img4.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Hyderabad</h3>
                            Thank You India
                            <a class="preview" href="{% static 'images/photos/img4.jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (2).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Labore et dolore</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="{% static 'images/photos/p (2).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter2">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (3).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Quis autem vel</h3>
                            Ut enim ad minima veniam
                            <a class="preview" href="{% static 'images/photos/p (3).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (4).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Quis nostrum</h3>
                            Exercitationem ullam
                            <a class="preview" href="{% static 'images/photos/p (4).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter2">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (5).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Corporis suscipit</h3>
                            Nisi ut aliquid ex ea
                            <a class="preview" href="{% static 'images/photos/p (5).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (6).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Quis nostrum</h3>
                            Exercitationem ullam
                            <a class="preview" href="{% static 'images/photos/p (6).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (8).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Quis nostrum</h3>
                            Exercitationem ullam
                            <a class="preview" href="{% static 'images/photos/p (8).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (9).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Quis nostrum</h3>
                            Exercitationem ullam
                            <a class="preview" href="{% static 'images/photos/p (9).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (10).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Quis nostrum</h3>
                            Exercitationem ullam
                            <a class="preview" href="{% static 'images/photos/p (10).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter2 filter3">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (11).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Sed quia consequ</h3>
                            Magni dolores eos qui
                            <a class="preview" href="{% static 'images/photos/p (11).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/img1.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/img1.jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (1).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (1).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (2).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (2).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (5).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (5).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (6).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (6).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (7).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (7).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (13).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (13).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (9).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (9).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (10).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (10).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (11).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (11).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/ss (8).png' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/ss (8).png' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/img3.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/img3.jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item filter1">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/photos/p (7).jpg' %}" alt="">
                        <div class="portfolio-info">
                            <h3>Mumbai</h3>
                            In these streets
                            <a class="preview" href="{% static 'images/photos/p (7).jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="animated-number">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Marshmello Music</h2>
                <p class="text-center wow fadeInDown">I never takes off my helmet because I don't want or need fame and I believe in creating something positive for people to connect with.<br>I just want to make good music, that doesn't require you knowing who I am.</p>
            </div>

            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="animated-number" data-digit="1234" data-duration="1000"></div>
                        <strong>Followers</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="animated-number" data-digit="3214" data-duration="1000"></div>
                        <strong>Monthly Listeners</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="animated-number" data-digit="4213" data-duration="1000"></div>
                        <strong>Fans</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="animated-number" data-digit="2233" data-duration="1000"></div>
                        <strong>Subscribers</strong>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#animated-number-->

{% endblock %}